/* .container{
    min-height: 100vh;
}
.editp{
    background-color: #0c3b2e;
    border-radius: 5px;
    color: #fff;
    line-height: 35px;
    width: 75%;
}

.inputs{
    width: 50%;
}

.submit button{
    width: 50%;
    position: relative;
    left: 25%;
} */


.btn-warning {
    border: none;
}
.btn-warning:hover{
    background-color: #fcc120;
    color: #0C3B2E;
}
.btn{
    border: none;
    color: #0C3B2E; ;
    background-color: #FFBA00;
    
}

.btn:hover{
    background-color: #fdc11c;
    color: #0C3B2E;

}

.card-header{
    background-color: #0C3B2E;
    color: #FFBA00;
}


@media screen and  (max-width: 1000px){
    .editp{
        width: 100%;
    }
    .inputs{
        width: 90%;
    }
}

