.btn{
    background-color:#FFBA00;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 4px 20px rgba(235, 191, 34, 0.253); /* Add a shadow effect */
}

.topraw{ 
    background-color:#0C3B2E;

}